<div class="WalletCards">
  <p-card header="Suas carteiras">
    <div *ngFor="let userWallet of userWallets | async" class="wallet">
      <h1>{{ userWallet.walletName }}</h1>
      <h2>{{ userWallet.bankName }}</h2>
      <p>Patrimônio R${{ userWallet.totalValue }}</p>
      <p-divider></p-divider>

      <div class="stocks-container">
        <div *ngFor="let userStock of userWallet.userStock" class="stocks">
          <h3>{{ userStock.mnemonic }}</h3>
          <p>cotas {{ userStock.shares }}</p>
          <p>valor atual R${{ userStock.currentValue }}</p>
          <p>valor medio R${{ userStock.averageValue }}</p>
        </div>
      </div>
      <div class="button-container">
        <button mat-icon-button (click)="openAddStockModal(userWallet)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </p-card>
</div>