<div class="WalletCards">

  <p-card header="Suas carteiras">

    <tr *ngFor="let userWallet of userWallets | async">

      <div class="wallet">

        <h1> {{ userWallet.walletName }} </h1>
        <h2> {{ userWallet.bankName }} </h2>
        <p> valor total Carteira R${{ userWallet.totalValue }}.00 </p>

    <tr *ngFor="let userStock of userWallet.userStock">
      <li> sigla: {{ userStock.mnemonic }} </li>
      <li> cotas: {{ userStock.shares }} </li>
      <li> valor medio de compra: R${{ userStock.averageValue }}.00 </li>
      <li> valor medio atual: R${{ userStock.currentValue }} </li>
    </tr>

    <p-divider></p-divider>

</div>
</p-card>