.WalletCards {
    padding: 2px;
    color: #15AAFF; 
    width: 100%; 
    max-width: 600px; /* Define uma largura máxima para a div em pixels */
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

p-card[header="Suas carteiras"] {
    padding: 10px;
    display: flex;
    color: #15AAFF;
}

.wallet {
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px;
    max-width: 100%;
    width: 500px;
}

.wallet h1 {
    font-weight: bold;
    text-align: center;
}

.wallet h2 {
    font-weight: bold;
    text-align: center;
}

.stocks {
    background-color: #ffffff;
    color: #373636;
}
