.authentication-card {
    width: 30%;
    margin: 0 auto;
}

.authentication-card-container {
    min-height: 100vh;
}

.mat-card{
    background-color: #F8F7F3;
    color: #373636;
}

.mat-raised-button{
    color: #373636;
    background-color: #F8F7F3;
}